<nav class="bottom-nav justify-content-around align-items-center">
  <a href="/explore" class="nav-item text-center"
    ><i class="fas fa-search"></i>
    <div>Explore</div>
  </a>
  <a href="/wishlists" class="nav-item text-center"
    ><i class="fa-regular fa-heart"></i>
    <div>Stay Match</div></a
  >
  <a href="/login" class="nav-item text-center"
    ><i class="fa-regular fa-house"></i>
    <div>Host</div>
  </a>
  <a href="/login" class="nav-item text-center"
    ><i class="fa-regular fa-user"></i>
    <div>Profile</div>
  </a>
</nav>
