<nav class="navbar border-bottom sticky-top">
  <div class="container-fluid navbar-inner">
    <!-- LOGO -->
    <div class="trip-tide-brand">
      <a href="/listings"><i class="hgi hgi-stroke hgi-tsunami"></i></a>
      <div class="text-container">
        <a href="/listings" class="logo-text">Trip</a>
        <a href="/listings" class="logo-text">Tide</a>
      </div>
    </div>

    <!-- DESKTOP LINKS -->
    <div class="navbar-nav desktop-only">
      <a class="nav-link nav-ex" href="/listings"><b>Explore</b></a>
    </div>

    <button
      id="stay-match"
      class="btn nav-ex desktop-only"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#filterPanel"
    >
      <b>Stay Match</b>
    </button>

    <!-- SEARCH (DESKTOP + MOBILE) -->
    <div class="navbar-nav search-wrapper">
      <form
        class="search-form"
        role="search"
        action="/listings/search"
        method="GET"
      >
        <input
          type="search"
          name="q"
          class="form-control search-inp"
          placeholder="Search destinations..."
          autocomplete="off"
        />
        <button class="btn search-btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>

    <!-- RIGHT ACTIONS (DESKTOP ONLY) -->
    <div class="nav-ri desktop-only">
      <a class="nav-link nav-add" href="/listings/new">
        <b>Become a host <i class="fa-regular fa-user fa-lg"></i></b>
      </a>

      <% if (!currUser) { %>
      <div class="auth-buttons">
        <a href="/login" class="nav-link-auth">Login</a>
        <a href="/signup" class="nav-link-auth primary">Sign Up</a>
      </div>
      <% } %> <% if (currUser) { %>
      <div class="auth-buttons">
        <a href="/logout" class="nav-link-auth">Logout</a>
      </div>
      <% } %>
    </div>
  </div>
</nav>
