<nav class="navbar navbar-expand-md border-bottom sticky-top">
  <div class="container-fluid">
    <div class="trip-tide-brand">
      <a href="/listings"><i class="hgi hgi-stroke hgi-tsunami"></i></a>
      <div class="text-container">
        <a href="/listings" class="logo-text">Trip</a>
        <a href="/listings" class="logo-text">Tide</a>
      </div>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-4">
        <a class="nav-link nav-ex" aria-current="page" href="/listings"
          ><b>Explore</b></a
        >
      </div>
      <button
        class="btn nav-ex"
        type="button"
        onclick="scrollUp()"
        data-bs-toggle="collapse"
        data-bs-target="#filterPanel"
        aria-expanded="false"
        aria-controls="filterPanel"
      >
       <b>Stay Match</b>
      </button>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search">
          <input
            type="search"
            class="form-control me-2 search-inp"
            placeholder="Search destinations...."
          />
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search
          </button>
        </form>
      </div>

      <div class="d-flex ms-auto nav-ri">
        <div class="navbar-nav">
          <a class="nav-link nav-add" aria-current="page" href="/listings/new"
            ><b>Become a host<i class="fa-regular fa-user fa-lg"></i></b
          ></a>
        </div>
        <% if(!currUser) { %>
        <a href="/signup" class="btn btn-outline-primary auth-btn">Sign Up</a>
        <a href="/login" class="btn btn-outline-success auth-btn">Login</a>
        <% } %> <% if(currUser) { %>
        <a href="/logout" class="btn btn-outline-danger auth-btn">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
